# Ignore everything
*

# But not these directories
!*/

# And not these specific files/folders
!.gitignore
!docs/
!docs/**
!scripts/
!scripts/**
!systemd/
!systemd/**
!uninstall/
!uninstall/**
!install.sh
!setup.conf.example
!config/
!config/**
!README.md
!STEPS.md
!ABOUT.md
