[share]
   comment = Pi Share
   path = /srv/samba/share
   browseable = yes
   read only = no
   create mask = 0660
   directory mask = 2770
   valid users = rebel
   force user = smbdata
   force group = smbdata
